@import "./assets/styles/app.css";

.goog-te-gadget-simple {
    background-color: rgb(214 211 209 / var(--tw-bg-opacity));
    display: ruby!important;
}

.goog-te-gadget-icon {
    display: none;
}

.img, svg, video, canvas, audio, iframe, embed, object {
    vertical-align: middle;
    display: inline;
}
.header-wrapper.container.mx-auto {
    height: 75px;
}
.radio:checked {
    border-color: #1e6609;
    background-color: #5c880ccf;
    --tw-ring-color: #ffffff00;
}
label.text-ml.font-bold.text-left {
    color: #171717;
}
.radio {
    display: inline-block;
    height: 1rem;
    width: 1rem;
}
p.text-red-500.text-sm.mt-1 {
    font-size: smaller;
    text-align: right;
}